In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'dataSet': [1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5, 7]})

In [5]:
df

    dataSet
0         1
1         1
2         1
3         1
4         2
5         2
6         2
7         2
8         2
9         2
10        3
11        3
12        3
13        3
14        4
15        4
16        5
17        5
18        7

In [21]:
df.mean()

dataSet    2.789474
dtype: float64

In [22]:
df.median()

dataSet    2.0
dtype: float64

In [23]:
df.mode()

   dataSet
0        2

In [28]:
frequency = df.value_counts()

In [29]:
interval = pd.interval_range(1, 7).values

In [30]:
data = pd.DataFrame({'interval': interval, 'frequency': frequency})

In [31]:
data

        interval  frequency
dataSet
2         (1, 2]          6
3         (2, 3]          4
1         (3, 4]          4
5         (4, 5]          2
4         (5, 6]          2
7         (6, 7]          1